


  <form class="search">
    <input type="text" placeholder="Искать здесь..." class="search_field">
    <button  type="submit" class="submit"><i class="fa fa-search"></i></button>
  </form>

  <div class="content">

    <div class="heroes">
      <% @heroes.each do |hero|  %>
        <%= link_to hero.name, hero_path(hero.key) %>
      <% end %>
    </div>

    <div class="maps">
      <p><a href="/">Mercury</a></p>
      <p><a href="/">Moon</a></p>
      <p><a href="/">Earth</a></p>
      <p><a href="/">Mars</a></p>
      <p><a href="/">Earth</a></p>
      <p><a href="/">Mars</a></p>
    </div>

    <div class="game_modes">
      <p><a href="/">Bedus</a></p>
      <p><a href="/">Board</a></p>
      <p><a href="/">God</a></p>
      <p><a href="/">Lores</a></p>
    </div>




  </div>


  <div style="color: #7BA7AB" >

    <tr>
      <% @arr.each do |elem| %>
        <td><%= elem %></td>
      <% end %>

    </tr>



  </div>

